*{
    box-sizing: border-box;
}


.button{
    background-color: blueviolet;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    display: inline-block;
}
.button--outline{
    border: 2px solid blueviolet;
    color: blueviolet;
    background-color: white;
}
.button--danger{
    background-color: brown;
}

.button--danger .button--outline{
    background-color: brown;
}
.accordion{
    border: 1px solid lightgray;
    border-radius: .5rem;
}
.accordion_header{
    padding: .5rem 1rem;
    background-color: white;
    font-weight: bold;
}
.accordion_content{
    border-top: 1px solid lightgray;
    padding: .5rem 1rem;
    display: none;
}
.accordion--open .accordion_header{
    background-color: white;
}